# editor files
*~

# python artifacts
*.pyc

# build artifacts
build/
*.mod
*.o

# test output
*.testlog
*.stdout
*.bak
*.regression

# simulation output
*.nc
*.nc.rest
*.nc.base


# os x junk
.DS_Store
